@model Budgetly.Models.Account

@{
    ViewData["Title"] = "Register";
}

<div>
    <h1>@ViewData["Title"]</h1>



    <form asp-action="Register" method="post" >
    <div class="form-group">
        <label asp-for="name">Name</label>
        <input type="text" class="form-control" id="Name" asp-for="name" placeholder="Your name">
    </div>
    <br />
    <div class="form-group">
        <label asp-for="money">Balance</label>
        <input type="number" step="0.01" class="form-control" id="Balance" asp-for="money" placeholder="Amount of money">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>




</div>
